html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

@import 'tailwindcss';
@import './theme.css';
@import './typography.css';
@import './layout.css';

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  #root {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
  }
}

@layer utilities {
  .container-app {
    width: 100%;
    max-width: var(--container-max);
    margin-inline: auto;
    padding-inline: var(--container-padding);
  }
}
